@media screen and (max-width: 1300px) {
  .skills-container {
    grid-template-rows: repeat(1, 450px);
  }

  .articles-container {
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .articles-container {
    column-gap: 1rem;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  .skills-container {
    grid-template-rows: repeat(1, 700px);
  }

  #skills {
    height: fit-content;
  }
}

@media screen and (max-width: 1000px) {
  .arrow {
    display: none;
  }
  
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  section {
    margin: 0 2rem;
  }

  #about {
    padding: 0 2rem;
  }

  #hero {
    display: block;
  }

  .hero-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-pic-container img {
    height: 275px;
    width: 275px;
    margin-bottom: 2rem;
  }

  .skills-container {
    grid-template-rows: repeat(1, 430px);
  }

  .articles-container {
    justify-content: space-around;
  }

  #contact {
    height: fit-content;
    padding-block: 3rem;
  }
}

@media screen and (max-width: 890px) {
  .articles-container {
    justify-content: center;
  }

  .skills-container {
    grid-template-rows: repeat(1, 720px);
  }
}

@media screen and (max-width: 650px) {
  .logo {
    font-size: 1.5rem;
  }

  .section-text-p1 {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .section-text-p2 {
    font-size: 1.25rem;
  }

  .hero-pic-container img {
    height: 225px;
    width: 225px;
    margin-bottom: 2rem;
  }

  .section-text-p3 {
    font-size: 1rem;
  }

  .section-text-p4 {
    font-size: 1.25rem;
  }

  .skills-container {
    width: 100%;
  }

  .details-title {
    font-size: 1.25rem;
  }

  footer nav ul.nav-links {
    gap: 1rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 550px) {
  .section-text-p1 {
    font-size: 0.9rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .section-text-p2 {
    font-size: 1rem;
  }

  .skills-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 420px);
  }

  .articles-container {
    justify-content: space-around;
  }

  .details-container {
    padding-inline: 0.5rem;
  }

  #skills {
    height: 120vh;
  }
}

@media screen and (max-width: 430px) {
  .skills-container {
    grid-template-rows: repeat(2, 660px);
  }

  #skills {
    height: 190vh;
  }
}